
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Quitar estilos de inputs */
input {
  outline: none;
}

/* Decorativos de medio circulo */
.circle-first,
.circle-second,
.circle-third {
  width: 300px;
  height: 300px;
  position: absolute;
  clip-path: circle(50% at 0%);
  z-index: -1;
}

.circle-first {
  top: 0%;
  right: 0px;
  transform: rotate(180deg);
}

.circle-second {
  top: 50%;
  left: 0px;
}

.circle-third {
  top: 100%;
  right: 0px;
  transform: rotate(180deg);
}

/* Toggle Dark Mode */
.toggle-container {
  background-color: #f8f8f8;
  position: relative;
  box-shadow: inset 0px 0px 6px #1e293b;
  border-radius: 25px;
  cursor: pointer;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(.7);
  background-color: linear-gradient(145deg, #d8d8d8, #fff);
  border-radius: 25px;
  box-shadow: 2px 2px 4px #c4c4c4, -2px -2px 4px #fff;
  transition: left ease-in-out .3s;
}

@media (min-width: 768px) {
  .toggle {
    box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
  }
}

#dark-mode-toggle.active {
  background-color: #192231;
  box-shadow: inset 0px 0px 5px #6e6b80;
}

#dark-mode-toggle.active .toggle {
  left: 35px;
  background-color: #1e293b;
  box-shadow: -2px 2px 3px #6e6b80;
  transition: left ease-in-out .3s;
}

@media (min-width: 768px) {
  #dark-mode-toggle.active .toggle {
    left: 32px;
  }
}