@tailwind base;
@tailwind components;
@tailwind utilities;

/* Decorativos de medio circulo */
.circle-first,
.circle-second,
.circle-third {
  width: 300px;
  height: 300px;
  position: absolute;
  clip-path: circle(50% at 0%);
  z-index: -1;
}

.circle-first {
  top: 0%;
  right: 0px;
  transform: rotate(180deg);
}

.circle-second {
  top: 50%;
  left: 0px;
}

.circle-third {
  top: 100%;
  right: 0px;
  transform: rotate(180deg);
}






/* Css Cursos */

.courses-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #000;
  margin-bottom: 10px;
}

#search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters label {
  margin: 10px 0;
  font-size: 1em;
  color: #000;
}

.filters select {
  padding: 5px;
  margin: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center
}

.course-card img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.course-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #666;
  text-align: center;
}

.course-card p {
  font-size: 1em;
  color: #666;
}

.rating {
  color: #ffcc00;
  margin: 10px 0;
}

.price {
  font-size: 1.2em;
  color: #333;
}

.enroll-button {
  background-color: #FFB263;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
}

.enroll-button:hover {
  background-color: #0056b3;
}

html.dark h1,
html.dark .filters label,
html.dark .course-card h2,
html.dark .course-card p,
html.dark .price {
  color: white;
}

html.dark .course-card {
  background-color: #333;
}

html.dark .enroll-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

/* Toggle Dark Mode */

.toggle-container{
  background-color: #f8f8f8;
  position: relative;
  box-shadow: inset 0px 0px 6px #1e293b;
  border-radius: 25px;
  cursor: pointer;
}

.toggle{
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(.7);
  background-color: linear-gradient(145deg, #d8d8d8, #fff);
  border-radius: 25px;
  box-shadow: 2px 2px 4px #c4c4c4, -2px -2px 4px #fff;
  transition: left ease-in-out .3s;
}
@media (min-width: 768px){
  .toggle{
    box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
  }
}
#dark-mode-toggle.active {
  background-color: #192231;
  box-shadow: inset 0px 0px 5px #6e6b80;
}
#dark-mode-toggle.active .toggle{
  left: 35px;
  background-color: #1e293b;
  box-shadow: -2px 2px 3px  #6e6b80;
  transition: left ease-in-out .3s;
}
@media (min-width: 768px){
  #dark-mode-toggle.active .toggle{
    left: 32px;
  }
}
